<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Пользователи</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
    </tr>
    {{#Data}}
        <tr>
            <th>{{id}}</th>
            <th>{{firstName}}</th>
            <th>{{middleName}}</th>
            <th>{{lastName}}</th>
            <th>{{birthDate}}</th>
        </tr>
    {{/Data}}
</table>
</body>
</html>