<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div>{{name}}</div>
     <div>{{group}}</div>
    <div>{{variant}}</div>
    <form action="/logout" method="post">
        <input type="submit" value="sign out!">
    </form>
</body>
</html>