<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {{#is_exist}}
        <div>
            <p>
                {{message}}
            </p>
        </div>
    {{/is_exist}}
    <form action="/registration" method="post">
        <div><label>User name: <input type="text" name="username"></label></div>
        <div><label>Password: <input type="text" name="password"></label></div>
        <div><label><input type="submit" value="Register!"></label></div>
    </form>
</body>
</html>