<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>{{Type}}</h1>
<table>
    <tr><th>Текст</th><th>Дата отправки</th></tr>
    {{#Data}}
        <tr><th>{{text}}</th><th>{{creationDate}}</th></tr>
    {{/Data}}
</table>
</body>
</html>